body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

#header {
  background-color: #CAB1F0;
  padding: 60px;
  margin-bottom: 50px;
}

#header h1, #header h2, #contact h2 {
  color: #ffffff;
  text-shadow: 3px 3px 0 #7B4CC2;
}

#about {
  margin-bottom: 30px;
}

#projects {
  margin-bottom: 50px;
  padding-top: 20px;
}

#contact {
  background-color: #CAB1F0;
  padding: 10px;
}

#navigation {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: none;
   position: fixed;
   text-align: center;
}

h3 a {
  color: #008080;
  text-decoration: none;
}

li {
   float: left;
   padding-top: 10px;
}

li a {
   color: #008080;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

li a:hover {
   color: #000;
}
