body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

#header {
  background-color: #CAB1F0;
  padding: 60px;
  margin-bottom: 50px;
}

#header h1, #header h2 {
  color: #ffffff;
  text-shadow: 3px 3px 0 #7B4CC2;
}

#about, #projects {
  margin-bottom: 50px;
}

#contact {
  background-color: #CAB1F0;
  padding: 10px;
}

#index {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #CAB1F0;
   -webkit-box-shadow: 0 8px 6px -8px black;
   -moz-box-shadow: 0 8px 6px -8px black;
   box-shadow: 0 8px 6px -8px black;
   position: relative;
   text-align: center;
}

h3 a {
  color: teal;
  text-decoration: none;
}

li {
   float: left;
}

li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

li a:hover {
   background-color: #fff;
   color: #000;
}

.active {
   background-color: white;
   color: black;
}
