body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

#header {
  background-color: #CAB1F0;
  padding: 80px;
  margin-bottom: 50px;
}

#header h1, #header h2 {
  color: #ffffff;
  text-shadow: 3px 3px 0 #7B4CC2;
}

#about {
  margin-bottom: 50px;
}

#contact {
  background-color: #CAB1F0;
  padding: 10px;
}
