include ./header.jade
h1.title
	span Calendar
.calendar
	iframe(src="https://calendar.google.com/calendar/b/1/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=c2hhd25hX2h1YW5nQGJyb3duLmVkdQ&amp;src=YnJvd24uZWR1XzZsa281aTJzbnY3MTM2NjZpNTJkbnFpajhjQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=YnJvd24uZWR1X2Yza250ZDczbjAwYTBkYTZhaGFtb2dqNG40QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23a61d55&amp;color=%23F09300&amp;color=%23008489&amp;showTitle=0&amp;showPrint=0&amp;showTabs=1&amp;showCalendars=0&amp;mode=WEEK" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no")